# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

outputs/
images/
*.ipynb
note.txt
test*.py
inference*.py
*/object_classification/
*/strhub/
*/text_recognition/
*/form_identifier/
*/table_detector/
*/text_detection/EAST/
*/text_detection/DB/


# weights
*.pt
*.pth
*.pkl

